<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Python Learning Journal</title>
    <link rel="stylesheet" type="text/css" href="/static/normalize.css">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="/static/trac.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
  </head>
  <body>
    <div class="group" id="container">
      {% block header %}{% endblock %}
        <nav>
          <h2>Python Development Accelerator</h2>
          <a href="/">
            <img src="/img/logo.png"/>
            <h1>Learning Journal</h1>
          </a>
          <aside id="user-controls">
            {% block controls %}{% endblock %}
          </aside>
        </nav>
      </header>
        {% block body %}{% endblock %}

      

    </div>
  </body>
</html>
