{% extends "base.jinja2" %}
{% block header %}
<header id="reduced-header">
{% endblock %}

{% block body %}
<!--     {% if request.authenticated_userid %} -->
    <section id="entry-form">
        <h2>New Entry</h2>
        <form action="{{ request.route_url('add') }}" method="POST" class="add_entry">
            <div class="field">
                <label for="title"><h4>Title</h4></label>
                <input type="text" name="title" id="title-label"/>
            </div>
            <div class="field">
                <label id="body-label" for="post-text"><h3>Body</h3></label>
                <textarea name="text" id="text" rows="17"></textarea>
            </div>
            <div class="control_row">
                <input id="submit-button" type="submit" value="Share" name="submit"/>
            </div>
        </form>

<!--     {% endif %} -->
{% endblock %}