{% extends "base.jinja2" %}

{% block header %}
    {% if request.authenticated_userid %}
        <header id="reduced-header">
    {% else %}
        <header>
    {% endif %}
{% endblock %}

{% block controls %}
    {% if not request.authenticated_userid %}
        <a href="{{ request.route_url('login') }}" id="login">Log in</a>
    {% else %}
        <a href="{{ request.route_url('logout') }}" class="create-edit">Log out</a>
    {% endif %}  
{% endblock %}

{% block body %}
        <section id="entry-form">
            <h2>Edit Entry</h2>
            <form action="{{ request.route_url('edit', id=entry.id) }}" method="POST" class="save_entry">
                <div class="field">
                    <label for="title"><h4>Title</h4></label>
                        <input type="text" name="title" id="title-label" value="{{ entry.title }}"/>
                </div>
                <div class="field">
                    <label id="body-label" for="post-text"><h3>Body</h3></label>
                    <textarea name="text" id="text" rows="17">{{ entry.text }}</textarea>
                </div>
                <div class="control_row">
                    <input id="submit-button" type="submit" value="Share" name="submit"/>
                </div>
            </form>
{% endblock %}
