{% extends "base.jinja2" %}
{% block body %}

    <article>
        <p id="date">{{ entry.created.strftime('%b. %d, %Y') }}</p>
        <h2 id="entry-title">{{ entry.title }}</h2>
        <p>{{ entry.text }}</p>
    </article>

{% endblock %}