{% extends "base.jinja2" %}

{% block header %}
<header>
{% endblock %}

{% block controls %}
    {% if not request.authenticated_userid %}
        <a href="{{ request.route_url('login') }}" id="login">Log in</a>
    {% else %}
        <a href="{{ request.route_url('edit', id=entry.id) }}" class="create-edit" id="edit">Edit entry</a>
        <a href="{{ request.route_url('logout') }}" class="create-edit">Log out</a>
    {% endif %}  
{% endblock %}

{% block body %}
<section id="entries">
    <article>
        <p id="date">{{ entry.created.strftime('%b. %d, %Y') }}</p>
        <h2 id="entry-title">{{ entry.title }}</h2>
        {{ md|safe }}
    </article>
{% endblock %}
