{% extends "base.jinja2" %}
{% block body %}
    <h2>Entries</h2>
    {% for entry in entries %}
    <article class="entry" id="entry={{entry.id}}">
        <h3>{{ entry.title }}</h3>
        <p class="dateline">{{ entry.created.strftime('%b. %d, %Y') }}</p>
        <div class="entry_body">
            {{ entry.text|safe }}
        </div>
    </article>
    {% else %}
    <div class="entry">
        <p><em>No entries here so far</em></p>
    </div>
    {% endfor %}
{% endblock %}