/* General -------------------- */

a {
    text-decoration: none;
}



/* Heading -------------------- */

header {
    float: left;
    position: fixed;
    width: 45%;
    height: 100%;
    background-color: rgba(37, 33, 40, .8);
    border-right: 1px solid rgba(158, 197, 226, .4);
    text-align: center;
}

nav {
    margin-top: 42%;
    color: white;
}

nav h1,
nav h2 {
    text-shadow: 2px 3px 2px rgba(0,0,0,0.3);
}

nav h1 {
    margin: 4% 2.5% 0;
    display: block;
}

nav h2 {
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
}

nav a {
    color: white;
}

#create {
    letter-spacing: .25;
    color: rgb(217, 142, 4);
    display: inline-block;
    margin-top: 2%;
}



/* Entry List -------------------- */

#entries {
    float: right;
    width: 45%;
    margin: 5% 5%;
}

.post-listing {
    text-transform: uppercase;
    margin-bottom: 8%;
}

.post-listing h2 {
    color: #222320;
}

.post-listing p {
    color: #96775B;
}

.post-listing a {
    color: #D98E04;
}

/* PAGE: Detail -------------------- */

#date {
    color: #96775B;
}

#entry-title {
    margin-bottom: 35px;
}



/* Float Clearfix -------------------- */

.group:after {
  content: "";
  display: table;
  clear: both;
}


/* Media Queries -------------------- */

@media (max-width: 480px) {
    header {
        position: relative;
        width: 100%;
    }

    .group {
        overflow-y: scroll;
        overflow-x: hidden;
        font-size: .9em;
    }

    nav {
        margin-top: 5%;
    }

    nav h2 {
        max-width: 335px;
    }

    img {
        max-width: 120px
    }

    #entries {
        width: 90%;
    }
}
